/* ############################################################################################## */
/* GENERAL */
/* ############################################################################################## */
.one-comic-main {
  max-width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  /* background: linear-gradient(to bottom, rgb(23, 2, 43), rgb(40, 4, 73)); */
  background: linear-gradient(to bottom, rgb(23, 2, 43), rgb(139, 90, 185));
}

.one-comic-page {
  width: 1280px;
  margin: 0 auto;
}

/* ############################################################################################## */
/* COMIC TITLE CONTAINER */
/* ############################################################################################## */

.one-comic-title {
  padding-top: 30px;
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: rgb(236, 221, 251);
  text-align: center;
  margin: 0 auto;
}

.one-comic-name {
  text-transform: uppercase;
  font-weight: bold;
}

/* ############################################################################################## */
/* COMIC CONTAINER */
/* ############################################################################################## */

.one-comic-container {
  /* border: 1px solid rgb(236, 221, 251); */
  height: 100%;
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.one-com-img {
  width: 27%;
  height: 123%;
  border-radius: 5px;
  object-fit: cover;
  border: 1px solid rgb(236, 221, 251);
}

.one-com-desc-button {
  /* border: 1px solid rgb(214, 116, 18); */
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  width: 350px;
}

.one-comic-desc {
  font-size: 15px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  color: rgb(236, 221, 251);
  line-height: 15px;
  /* width: 50%; */
}
/* ############################################################################################## */
/* FAVOURITE COMIC BTN */
/* ############################################################################################## */
.fav-btn-com {
  font-family: "Montserrat", sans-serif;
  color: rgb(236, 221, 251);
  background-color: rgba(53, 13, 92, 0);
  font-size: 11px;
  border: 1px solid rgb(236, 221, 251);
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  width: 50%;
}

.fav-btn-com:hover {
  border: 1px solid rgb(93, 35, 147);
  cursor: pointer;
}

.footer-one-com {
  height: 50px;
}
