.home-main {
  width: 100vw;
  height: 100vh;
  font-family: "Marvel";
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.marvel {
  font-size: 250px;
  color: rgba(255, 255, 255, 0.919);
  position: absolute;
}

.home-animation {
  /* background-color: rgb(23, 2, 43); */
  background: linear-gradient(to bottom, rgb(23, 2, 43), rgb(139, 90, 185));
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  gap: 25%;
}

/* *****************************************/
/* MEDIA QUERY */
/* *****************************************/

/* 915 px - Samsung GS S20 Landscape */
/* 914 px - Samsung GS A15 Landscape */
/* 912 px - Surface Pro 7 Portrait */
/* 896 px - iphone XR Landscape */
/* 851 px - Pixel 5 Landscape */
/* 844 px - iphone 12 Landscape */
/* *****************************************/

@media (max-width: 915px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */
  .marvel {
    font-size: 180px;
  }
}

/* 667 px - iphone SE Landscape */
/* 653 px - Galaxy Fold Landscape */
/* *****************************************/

@media (max-width: 667px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */
  .marvel {
    font-size: 100px;
  }
}

/* 283 px - Galaxy Fold Portrait */
/* *****************************************/

@media (max-width: 280px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */

  .marvel {
    font-size: 90px;
  }
}
