@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* ############################################################################################## */
/* GENERAL */
/* ############################################################################################## */
.characters-main {
  max-width: 100vw;
  height: 100%;
  font-family: "Marvel";
  background: linear-gradient(to bottom, rgb(23, 2, 43), rgb(186, 140, 229));
}

.characters-page {
  width: 1280px;
  margin: 0 auto;
}
/* ############################################################################################## */
/* TITLE SEARCH CONTAINER */
/* ############################################################################################## */

.search-title {
  width: 100%;
  height: 70px;
  color: rgb(236, 221, 251);
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}

.page-title {
  font-size: 60px;
}

.search-bar {
  width: 850px;
  height: 40px;
  border: 1px solid rgb(236, 221, 251);
  outline: none;
  border-radius: 10px;
  background-color: rgba(236, 221, 251, 0);
  color: rgb(137, 110, 163);
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  caret-color: white;
}

.search-title input::placeholder {
  color: rgb(137, 110, 163);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.loop {
  color: rgb(236, 221, 251);
  padding-right: 10px;
  font-size: 20px;
}

/* ############################################################################################## */
/* PAGINATION SECTION */
/* ############################################################################################## */
.page {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* ############################################################################################## */
/* PAGINATION CSS */
/* ############################################################################################## */

.pagination-block {
  margin: auto 0;
}

.pagination {
  margin: 0 auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: rgb(93, 35, 147);
  border-color: rgb(93, 35, 147);
  border-radius: 10px;
  color: #fff;
}
.pagination > li > a {
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: rgb(93, 35, 147);
  border-color: rgb(93, 35, 147);
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: rgb(93, 35, 147);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}

/* ############################################################################################## */
/* CHARACTERS CONTAINER */
/* ############################################################################################## */

.character-container {
  width: 100%;
  /* border: 1px solid yellow; */
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  gap: 13px;
}

.character-card {
  width: 19%;
  border-radius: 5px;
  border: 1px solid rgb(236, 221, 251);
}

.character-card img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  object-fit: cover;
}
.name {
  color: rgb(236, 221, 251);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.name {
  padding: 6px;
  text-align: center;
}
.name:hover {
  cursor: pointer;
  color: rgb(205, 170, 237);
}

.description {
  font-family: Helvetica, sans-serif;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 13px;
  padding: 10px;
  line-height: 15px;
  color: rgb(227, 210, 244);
  height: 125px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show in lorem */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.arrow {
  padding-right: 5px;
}

.character-btns {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}
.character-btns button {
  font-family: "Montserrat", sans-serif;
  color: rgb(236, 221, 251);
  background-color: rgba(53, 13, 92, 0);
  font-size: 11px;
  border: 1px solid rgba(53, 13, 92, 0);
  border-radius: 5px;
  padding: 5px;
}

.character-btns button:hover {
  border: 1px solid rgb(93, 35, 147);
  cursor: pointer;
}

/* ############################################################################################## */
/* FAV STAR BTN */
/* ############################################################################################## */

.chImg-btn {
  position: relative;
}
.star-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: rgb(93, 35, 147);
  border-radius: 50px;
  background-color: white;
  font-size: 15px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.star-btn:hover {
  background-color: rgb(181, 180, 180);
}
.star-btn-gold {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: gold;
  border-radius: 50px;
  background-color: white;
  font-size: 15px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.toast {
  font-size: 20px;
}

/* ############################################################################################## */
/* FOOTER */
/* ############################################################################################## */
.footer-character {
  height: 50px;
}

/* *****************************************/
/* MEDIA QUERY */
/* *****************************************/

/* 1180 px - iPad Air Landscape */
/* *****************************************/

@media (max-width: 1280px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */
  .characters-page {
    max-width: 1000px;
    margin: 0 auto;
  }

  /* ############################################################################################## */
  /* MAIN IMAGE CONTAINER */
  /* ############################################################################################## */
  .page-title {
    font-size: 45px;
  }

  .search-bar {
    width: 550px;
    height: 30px;
  }

  /* ############################################################################################## */
  /* CHARACTERS CONTAINER */
  /* ############################################################################################## */
  .character-card {
    width: 18%;
    margin: 0 auto;
  }

  .character-card img {
    height: 170px;
  }
  .name {
    font-size: 12px;
  }
  .character-btns {
    flex-direction: column;
  }
}

/* 1024 px - iPad Mini Landscape */
/* *****************************************/

@media (max-width: 1024px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */
  .characters-page {
    max-width: 900px;
    margin: 0 auto;
  }

  /* ############################################################################################## */
  /* MAIN IMAGE CONTAINER */
  /* ############################################################################################## */
  .page-title {
    font-size: 45px;
  }

  .search-bar {
    width: 550px;
    height: 30px;
  }

  /* ############################################################################################## */
  /* CHARACTERS CONTAINER */
  /* ############################################################################################## */
  .character-card {
    width: 18%;
    margin: 0 auto;
  }

  .character-card img {
    height: 150px;
  }
  .name {
    font-size: 11px;
  }
  .character-btns {
    flex-direction: column;
  }
}

/* 915 px - Samsung GS8 Landscape */
/* 914 px - Samsung GS A15 Landscape */
/* 912 px - Surface Pro 7 Portrait */
/* 896 px - iphone XR Landscape */
/* 851 px - Pixel 5 Landscape */
/* 844 px - iphone 12 Landscape */
/* *****************************************/

@media (max-width: 915px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */
  .characters-page {
    width: 700px;
    margin: 0 auto;
  }

  /* ############################################################################################## */
  /* TITLE SEARCH CONTAINER */
  /* ############################################################################################## */
  .page-title {
    font-size: 45px;
  }

  .search-bar {
    width: 350px;
    height: 30px;
  }
  /* ############################################################################################## */
  /* CHARACTERS CONTAINER */
  /* ############################################################################################## */
  .character-card {
    width: 18%;
  }

  .character-card img {
    height: 120px;
  }

  .name {
    font-size: 9px;
  }

  .character-btns {
    flex-direction: column;
  }
  .character-btns button {
    font-size: 9px;
  }

  .star-btn {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
  .star-btn-gold {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
}

/* 820 px - iPad Air Portrait */
/* *****************************************/

@media (max-width: 820px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */
  .characters-page {
    width: 700px;
    margin: 0 auto;
  }

  /* ############################################################################################## */
  /* CHARACTERS CONTAINER */
  /* ############################################################################################## */
  .character-card {
    width: 18%;
  }

  .character-card img {
    height: 120px;
  }
}

/* 768 px - iPad Mini Portrait */
/* 740 px - Samsung GS8 landscape */
/* *****************************************/

@media (max-width: 768px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */
  .characters-page {
    width: 680px;
    margin: 0 auto;
  }

  /* ############################################################################################## */
  /* CHARACTERS CONTAINER */
  /* ############################################################################################## */
  .character-card {
    width: 18%;
  }

  .character-card img {
    height: 120px;
  }
}

/* 667 px - iphone SE Landscape */
/* 653 px - Galaxy Fold Landscape */
/* *****************************************/

@media (max-width: 667px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */
  .characters-page {
    width: 600px;
    margin: 0 auto;
  }

  /* ############################################################################################## */
  /* CHARACTERS CONTAINER */
  /* ############################################################################################## */
  .character-card {
    width: 17%;
  }

  .character-card img {
    height: 100px;
  }
  /* ############################################################################################## */
  /* TITLE SEARCH CONTAINER */
  /* ############################################################################################## */
  .page-title {
    font-size: 35px;
  }

  .search-bar {
    width: 250px;
    height: 25px;
    border-radius: 5px;
  }
  .search-title {
    margin-top: 20px;
    height: 50px;
  }
  .search-title input {
    font-size: 15px;
  }
  .search-title input::placeholder {
    font-size: 15px;
  }
  .character-btns button {
    font-size: 11px;
  }
}

/* 540 px - Suface Duo Portrait */
/* *****************************************/

@media (max-width: 540px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */
  .characters-page {
    width: 500px;
    margin: 0 auto;
  }

  /* ############################################################################################## */
  /* CHARACTERS CONTAINER */
  /* ############################################################################################## */

  .character-card img {
    height: 85px;
  }
  /* ############################################################################################## */
  /* TITLE SEARCH CONTAINER */
  /* ############################################################################################## */
  .page-title {
    font-size: 30px;
  }

  .search-bar {
    width: 220px;
    height: 20px;
  }
}

/* 414 px - iphone XR Portrait */
/* 412 px - Samsung GS20 Portrait */
/* 412 px - Samsung GS A15 Portrait */
/* 393 px - Pixel 5 Portrait */
/* 390 px - Iphone 12 Portrait */
/* 360 px - Samsung GS8 Portrait */
/* *****************************************/

@media (max-width: 414px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */
  .characters-page {
    width: 300px;
    margin: 0 auto;
  }

  /* ############################################################################################## */
  /* TITLE & SEARCH CONTAINER */
  /* ############################################################################################## */
  .search-title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    height: 70px;
  }
  .page-title {
    font-size: 35px;
    margin-bottom: 5px;
  }

  .search-bar {
    width: 285px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
  }

  .search-title input::placeholder {
    font-size: 12px;
    text-align: center;
  }

  .loop {
    display: none;
  }

  /* ############################################################################################## */
  /* CHARACTERS CONTAINER */
  /* ############################################################################################## */

  .character-card {
    width: 29%;
  }

  .character-card img {
    height: 85px;
  }

  .name {
    font-size: 8px;
    line-height: 10px;
  }
  .description {
    font-size: 10px;
    line-height: 12px;
  }

  .star-btn {
    right: 5px;
    top: 5px;
  }
  .star-btn-gold {
    right: 5px;
    top: 5px;
  }
}

/* 283 px - Galaxy Fold Portrait */
/* *****************************************/

@media (max-width: 280px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */
  .characters-page {
    width: 230px;
    margin: 0 auto;
  }

  /* ############################################################################################## */
  /* TITLE & SEARCH CONTAINER */
  /* ############################################################################################## */
  .search-title {
    margin-top: 15px;
    height: 70px;
  }

  .page-title {
    font-size: 35px;
    margin-bottom: 5px;
  }

  .search-bar {
    width: 215px;
  }

  /* ############################################################################################## */
  /* CHARACTERS CONTAINER */
  /* ############################################################################################## */

  .character-card {
    width: 65px;
  }

  .character-card img {
    height: 65px;
  }

  .description {
    padding: 5px;
  }

  .star-btn {
    width: 15px;
    height: 15px;
    font-size: 9px;
    right: 5px;
    top: 5px;
  }
  .star-btn-gold {
    width: 15px;
    height: 15px;
    font-size: 9px;
    right: 5px;
    top: 5px;
  }
  .character-btns button {
    font-size: 7px;
  }
}
